.loadersContainer {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.loaders {
  width: 50%;
  border: solid 2px white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

img {
  width: 20%;
}